<!DOCTYPE html>
<html lang="sa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <style>
    body {
      font-family: "Nirmala UI";
    }

    .headerlink {
      margin-left: 10px;
      font-size: 18px;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="main">{{ md_content|safe }}</div>
</body>

</html>